{% extends 'template.html' %}

{% block title %} Annonces {% endblock %}

{% block body %}

<div class="wrap-table100">
    <h3> Annonces : {{ ad_list.count }}</h3>
    <div class="table100">
        <table>
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Localisation</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
{% for ad in ad_list %}
                <tr>
                    <td class="title"><a href="{{ad.link}}" target="_blank">{{ad.title}}</a></td>
                    <td class="location">{{ad.location}}</td>
                    <td class="description">{{ad.description}}</td>

                </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}