{% extends 'template.html' %}

{% block title %} Accueil {% endblock %}

{% block body %}

<div class="title">
    <h3> Statistiques Annonces</h3>
</div>

<div class="wrap-table100">
    <div class="table100">
        <table>
            <thead>
                <tr>
                   <th></th>
                   <th>Pôle-Emploi</th>
                   <th>Linkedin</th>
                   <th>Leboncoin</th>
                   <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Non-lu</th>
                    <td>{{ all_pe.3.dcount }}</td>
                    <td>{{ all_lk.3.dcount }}</td>
                    <td>{{ all_lb.3.dcount }}</td>
                    <td>{{ all_status.3.dcount }}</td>
                </tr>
                <tr>
                    <th>Inadéquate</th>
                    <td>{{ all_pe.2.dcount }}</td>
                    <td>{{ all_lk.2.dcount }}</td>
                    <td>{{ all_lb.2.dcount }}</td>
                    <td>{{ all_status.2.dcount }}</td>
                </tr>
                <tr>
                    <th>Expiré</th>
                    <td>{{ all_pe.1.dcount }}</td>
                    <td>{{ all_lk.1.dcount }}</td>
                    <td>{{ all_lb.1.dcount }}</td>
                    <td>{{ all_status.1.dcount }}</td>
                </tr>
                <tr>
                    <th>Postulé</th>
                    <td>{{ all_pe.0.dcount }}</td>
                    <td>{{ all_lk.0.dcount }}</td>
                    <td>{{ all_lb.0.dcount }}</td>
                    <td>{{ all_status.0.dcount }}</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td>{{ all_site.2.dcount }}</td>
                    <td>{{ all_site.1.dcount }}</td>
                    <td>{{ all_site.0.dcount }}</td>
                    <td>{{ all_ad.count }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}