{% extends 'template.html' %}

{% block title %} Accueil {% endblock %}

{% block body %}

<div class="wrap-table100">
    <h3> 10 Dernières annonces</h3>
    <div class="table100">
        <table>
            <thead>
                <tr>
                   <th>Titre</th>
                   <th>Description</th>
                   <th>Localisation</th>
                </tr>
            </thead>
            <tbody>
{% for ad in last_ad %}
                <tr>
                    <td class="title"><a href="{{ad.link}}" target="_blank">{{ad.title}}</a></td>
                    <td class="location">{{ad.location}}</td>
                    <td class="description">{{ad.description}}</td>
                </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}