{% extends 'template.html' %}

{% block title %} Accueil {% endblock %}

{% block body %}

<div class="title">
    <h3> 10 Dernières annonces</h3>
    <div class="form">
        <form action="" method="get">
            <input class="button" type="submit" value="Recherche Nouvelles Annonces" name="mybtn">
        </form>
    </div>
</div>


<div class="wrap-table100">
    <div class="table100">
        <table>
            <thead>
                <tr>
                   <th>Titre</th>
                   <th>Localisation</th>
                   <th>Description</th>
                </tr>
            </thead>
            <tbody>
{% for ad in last_ad %}
                <tr id="{{ad.id}}">
                    <td class="title"><img src="../static/image/{{ ad.site.web }}.png"/><a href="{{ad.link}}" target="_blank"><b>{{ad.title}}</b></a></td>
                    <td class="location">{{ad.location}}</td>
                    <td class="description">{{ad.description}}</td>
                </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}