{% extends 'template.html' %}

{% block title %} Recherches {% endblock %}

{% block body %}


<div class="wrap-table100">
    <h3> Recherches : {{ search_list.count }}</h3>
    <div class="table100">
        <table>
            <thead>
                <tr>
                   <th>Site</th>
                   <th>Sujet</th>
                </tr>
            </thead>
            <tbody>
{% for se in search_list %}
                <tr>
                    <td>{{se.web}}</td>
                    <td><a href="{{se.link_search}}" target="_blank">{{se.subject}}</a></td>
                </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}