{% extends 'template.html' %}

{% block title %} Recherches {% endblock %}

{% block body %}
<div class="title">
    <h3> Recherches : {{ search_list.count }}</h3>
</div>

<div class="wrap-table100">
    <div class="table100">
        <table>
            <thead>
                <tr>
                   <th>Site</th>
                   <th>Sujet</th>
                </tr>
            </thead>
            <tbody>
{% for search in search_list %}
                <tr id="{{search.id}}">
                    <td class="site">{{search.web}}</td>
                    <td><a href="{{search.link_search}}" target="_blank">{{search.subject}}</a></td>
                </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}