{% extends 'template.html' %}

{% block title %} Recherches {% endblock %}

{% block body %}
<div class="title">
    <h3> Recherches : {{ search_list.count }}</h3>
    <a href="adminpolls/search/add/" class="button" target="_blank"><i class="fas fa-plus-circle"></i> Ajouter</a>
</div>

<div class="wrap-table100">
    <div class="table100">
        <table>
            <thead>
                <tr>
                   <th>Site</th>
                   <th>Sujet</th>
                   <th></th>
                </tr>
            </thead>
            <tbody>
{% for search in search_list %}
                <tr id="{{search.id}}">
                    <th class="site">{{search.web}}</th>
                    <td><a href="{{search.link_search}}" target="_blank">{{search.subject}}</a></td>
                    <td><i class="fas fa-pen"></i> <i class="fas fa-trash-alt"></i></td>
                </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}