{% extends 'template.html' %}
{% block title %} Annonces {% endblock %}

{% block body %}

<div class="title">
    <h3> Annonces {{ ad_list.count }}</h3>
    <div class="form">
        <form id="site" action="{% url 'annonce' %}" method="get">
            <label for="site-select">Site : </label>
            <select form="site" name="site" id="site-select">
                <option value="">----</option>
                <option value="Linkedin">Linkedin</option>
                <option value="Pole-Emploi">Pôle-Emploi</option>
            </select>
            <label for="status-select">Status : </label>
            <select form="site" name="status" id="status-select">
                <option value="">----</option>
                <option value="not-read">Non Lue</option>
                <option value="applied">Postulé</option>
                <option value="inadequate">Inadéquate</option>
                <option value="expired">Expiré</option>
                <option value="other">Autre</option>
            </select>
            <button type="submit" class="filter"><i class="fas fa-filter"></i> Filtrer</button>
        </form>
    </div>
</div>

<div class="wrap-table100">
    <div class="table100">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Titre</th>
                    <th>Localisation</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for ad in ad_list|slice:":100" %}
                <tr id="{{ ad.id }}">
                    <td>
                        <a style="color: black" href="adminpolls/ad/{{ ad.id }}/change/" target="_blank" title="Modifier">
                            <i class="fas fa-pen"></i>
                        </a>
                    </td>
                    <td>
                        {% load static %}
                        <img src="static/image/{{ ad.site.web }}.png" alt="{{ ad.site.web }}" title="{{ ad.site.web }} - {{ ad.site.subject }}"/>
                    </td>
                    <td class="title">
                        <a href="{{ad.link}}" target="_blank"><b>{{ ad.title }}</b></a>
                    </td>
                    <td class="location">{{ad.location}}</td>
                    <td class="description">{{ad.description}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}