{% extends 'template.html' %}

{% block title %} Accueil {% endblock %}

{% block body %}

<div class="title">
    <h3> Statistiques Annonces</h3>
</div>

<div class="wrap-table100">
    <div class="table100">
        <table>
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Non-lu</th>
                    <th>Inadéquate</th>
                    <th>Expiré</th>
                    <th>Postulé</th>
                    <th>Autres</th>
                   <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                   <th>Linkedin</th>
                    <td>{{ all_stat.0.not_read }}</td>
                    <td>{{ all_stat.0.inadequate }}</td>
                    <td>{{ all_stat.0.expired }}</td>
                    <td>{{ all_stat.0.applied }}</td>
                    <td>{{ all_stat.0.other }}</td>
                    <td>{{ all_stat.0.total }}</td>
                </tr>
                <tr>
                    <th>Pôle-Emploi</th>
                    <td>{{ all_stat.1.not_read }}</td>
                    <td>{{ all_stat.1.inadequate }}</td>
                    <td>{{ all_stat.1.expired }}</td>
                    <td>{{ all_stat.1.applied }}</td>
                    <td>{{ all_stat.1.other }}</td>
                    <td>{{ all_stat.1.total }}</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td>{{ total_stat.not_read__sum }}</td>
                    <td>{{ total_stat.inadequate__sum }}</td>
                    <td>{{ total_stat.expired__sum }}</td>
                    <td>{{ total_stat.applied__sum }}</td>
                    <td>{{ total_stat.other__sum }}</td>
                    <td>{{ total_stat.total__sum }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}