{% extends 'template.html' %}

{% block title %} Accueil {% endblock %}

{% block body %}

<div class="title">
    <h3> Statistiques Annonces</h3>
</div>

<div class="wrap-table100">
    <div class="table100">
        <table>
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Non-lu</th>
                    <th>Inadéquate</th>
                    <th>Expiré</th>
                    <th>Postulé</th>
                    <th>Autres</th>
                   <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Pôle-Emploi</th>
                    <td>{{ all_site.2.0 }}</td>
                    <td>{{ all_site.1.0 }}</td>
                    <td>{{ all_site.1.0 }}</td>
                    <td>{{ all_site.1.0 }}</td>
                    <td>{{ all_site.1.0 }}</td>
                </tr>
                <tr>
                   <th>Linkedin</th>
                    <td>{{ all_pe.2.dcount }}</td>
                    <td>{{ all_lk.2.dcount }}</td>
                    <td>{{ all_status.2.dcount }}</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td>{{ all_status.0.dcount }}</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>{{ all_status.1.dcount }}</td>
                    <td>{{ all_ad.count }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}